
$AsideMinHeight: 900px;

#admin{
    min-height: $AsideMinHeight;
}
.amin-title{
    color: rgb(170, 169, 169);
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.el-aside {
    color: rgb(138, 138, 138);
    min-height: $AsideMinHeight;
  }
.el-menu{
    height: 100%;
}
.admin-header{
    border-bottom:1px solid rgb(201, 201, 201);
}
.admin-item-detail{
    display: inline-block;
    padding: 0 10px;
}