
// #login{
//     display: block;
//     overflow: hidden;
//     width: 60%;
//     margin: 60px auto;
// }

.login-form{
    margin-top: 40px;
    //display: block;
//     width: 600px;
//     margin: 0px 20px;
//     font-size: 18px;
}

.login-input-space{
    margin: 5px 0;
}
.login-input-end{
    margin: 10px 0px;
}