.login-header{
    height: 80px;
    background-color: rgb(189, 189, 189);
}

.login-content{
    padding: 20px 0;
}
.login-title{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 40px 0;
}
.ruleForm{
    width: 600px;
    margin: 0 auto;
}
