.order-header{
    border-bottom: 1px solid #c7c7c7;
    background-color: rgb(131, 131, 131);
    color: rgb(255, 255, 255);
}

.txt-concent{
    align-self: center;
}
.order-table{
    width: 1000px;
    margin: 20px auto;
}